<div>Title: {{title}}</div>
<div>Author: {{author}}</div>
<div>Year: {{year}}</div>
<div>Genre: {{genre}}</div>
<div>Category: {{category.name}}</div>
<div>Owner username: {{ownerUsername}}</div>
<div>Status: {{#if public}}Public{{else}}Private{{/if}}</div>